html {
    min-width: 380px;
}
label {
    display: inline-block;
    width: 50%;
    margin-bottom: 4px;
}

input[type="text"], input[type="password"], input[type="number"], select, textarea {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

input[type="number"] {
    width: 100px;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="button"] {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input[type="submit"]:hover, input[type="button"]:hover {

    background-color: #777;
    color: #fff;
    transform: translateY(-2px);
}

input[type="submit"]:active, input[type="button"]:active {
    background-color: #555;
    transform: translateY(+2px);
}
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
}


  
  /* Style pour le conteneur principal */
.container {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

form {
    flex: 1;
}

body {
    padding: 15px;
    padding: 15px;
    min-width: 300px;
    min-height: 100px;
    /* Ajoute une ombre pour donner de la profondeur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/**/

footer {
    padding: 8px 0;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 0.8em;
    color: #777;

    display: flex;
    justify-content: space-between;
    text-align: center;
}


/* Styles pour les boutons de l'extension */
button {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 4px;
}
  
/* Style pour les boutons actifs */
button:hover {
    background-color: #777;
    color: #fff;
    transform: translateY(-2px);
}

button:active {
    background-color: #555;
    transform: translateY(0px);
}

.initPopupForm {

  position: fixed;
  background-color: #fff;

  margin: 0;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.shadowInitPopupForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.icon {
  width: 25px;
  height: 25px;
}

#sub_para {
    display: none;
    transition: all 2s ease;
}

#show_para .icon {
    height: 25px;
    width: 55px;
}

#show_para {
    padding: 0px;
}

button#show_para:hover {
    transition: 0.1s;
    transform: translateY(0px);

}


.table-container {
    height: 200px; /* Hauteur fixe pour afficher 5 éléments */
    overflow-y: scroll; /* Ajouter une barre de défilement verticale */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.initPopupForm label {
    width: auto;
}







